.table-container
    background-color: white
    border-radius: 10px
    padding: 2em
    box-shadow: -19px 19px 45px rgba(#000, .1)
    margin-bottom: 2em


    &__header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 2em

        > div
            display: flex

    &__summary-text
        margin-right: 2em
        
.table
    width: 100%
    text-align: left

    &__headers-row
        background-color: #F8F7F7

        th
            padding: 1em 2em
        
        th:first-child, th:last-child
            border-radius: 10px


table, th, td
    border-collapse: collapse

td
    padding: 1em 2em

tr td i
    cursor: pointer