.slick-track
    display: flex !important

.slick-track .slick-slide
    display: flex !important
    height: auto !important
    align-items: center !important
    justify-content: center !important

.home__testimonials-wrapper .slick-slide > div
    width: 100%

.slick-dots
    right: 0
