@use '../../utils/breakpoint' as *

p
    color: #929292

.dashboard
    &__headline
        margin-bottom: .8em

        &--small-mb
            margin-bottom: .5em

    &__paragraph
        margin-bottom: 1em

        &--large-mb
            margin-bottom: 2em
            @include breakpoint('medium')
                margin-bottom: 3em

    &__row
        margin-bottom: 1.8em

        @include breakpoint('medium')
            margin-bottom: 1em
            display: flex

        > div:first-child
            margin-right: 3em
            flex-basis: 40%

    &__column-full-width
        flex-grow: 1
