@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  --red-button: #DA2619;
  --black-button: #2D2D2D;
  --blue-color: #4752AD;
}

a {
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5em 2em;
  height: 100vh;
  background-color: white;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.nav__logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

.nav__links-wrapper {
  list-style: none;
}

.nav__links-wrapper--top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__link {
  padding: .5em 1em;
  border-radius: 5px;
  margin-bottom: .3em;
  display: block;
}

.nav__link--active {
  background-color: #F8F7F7;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__icon {
  margin-right: .5em;
  font-size: 1.5rem;
  color: #EDA49F;
}

.nav__icon--active {
  color: #DA2619;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__dashboard-text {
  margin-right: 1em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 2em;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
          box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__description {
  margin-right: 1em;
}

.card__title {
  font-weight: 700;
  margin-bottom: .5em;
}

.card__date {
  color: #929292;
}

.card__price {
  font-size: 2em;
  font-weight: 500;
}

.card:not(:last-child) {
  margin-right: 1em;
}

.table {
  width: 100%;
  text-align: left;
}

.table__headers-row {
  background-color: #F8F7F7;
}

.table__headers-row th {
  padding: 1em 2em;
}

.table__headers-row th:first-child, .table__headers-row th:last-child {
  border-radius: 10px;
}

table, th, td {
  border-collapse: collapse;
}

td {
  padding: 1em 2em;
}

tr td i {
  cursor: pointer;
}

.icon-wrapper {
  background-color: white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.icon-wrapper:not(:last-child) {
  margin-right: .5em;
}

.icon-wrapper--black-bg {
  background-color: #2D2D2D;
}

.icon-wrapper--grey-bg {
  border: 1px solid #EAEAEA;
  background-color: #F8F7F7;
}

.icon {
  color: inherit;
}

.icon--white {
  color: white;
}

.icon--grey {
  color: #929292;
}

.icon--red {
  color: #DA2619;
}

.icon--mr {
  margin-right: 4px;
}

.button {
  padding: .5em 1.5em;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
}

.button--grey-bg {
  background-color: #F8F7F7;
}

.button--outlined {
  border: 1px solid #DA2619;
  margin-right: 1em;
}

.footer {
  background-color: white;
  border-radius: 10px;
  padding: 1em 2em;
  -webkit-box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
          box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2D2D2D;
}

.dashboard__main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F9F8F8;
  padding: 1.5em 2em;
}

.dashboard__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
}

.dashboard__table {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
  -webkit-box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
          box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.dashboard__table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

.dashboard__table-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__table-summary-text {
  margin-right: 2em;
}
