@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 35px;
}

@media (min-width: 720px) {
  .logo {
    width: 50px;
  }
}

.logo-td {
  padding-right: 1em;
  width: 35px;
}

@media (min-width: 720px) {
  .logo-td {
    width: 50px;
  }
}

.email-header-tr {
  display: block;
  border-bottom: 1px solid #EAEAEA;
  padding: .5em;
}

@media (min-width: 720px) {
  .email-header-tr {
    padding: 1em;
  }
}

.email-footer-tr {
  border: none;
  border-top: 1px solid #EAEAEA;
}

.site-title {
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 720px) {
  .site-title {
    font-size: 1.5rem;
  }
}

.body-table {
  padding: .5em;
}

@media (min-width: 720px) {
  .body-table {
    padding: 1em;
  }
}

.body-header {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .7em;
}

@media (min-width: 720px) {
  .body-header {
    font-size: 1.5rem;
  }
}

.code-td {
  background-color: #F9F9F9;
  border: 1px solid #aeaeae80;
  padding: .5em 1em;
  display: inline-table;
  border-radius: 4px;
  margin-bottom: 1em;
}

.description-td {
  color: #929292;
  padding-bottom: .7em;
}

@media (min-width: 720px) {
  .description-td {
    padding-bottom: 1em;
  }
}

.link-td {
  color: #929292;
  padding-block: .3em;
}

.link-a {
  color: #443BAD;
  font-weight: 500;
}

.second-link {
  padding-bottom: 1em;
}

@media (min-width: 720px) {
  .second-link {
    padding-bottom: 1.7em;
  }
}
