@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4f5;
  font-family: 'Montserrat', Arial, sans-serif;
}

@media (min-width: 500px) {
  body {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

table {
  border: none;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}

table, tr, td {
  border-collapse: collapse;
}

.email {
  min-height: 100vh;
}

@media (min-width: 500px) {
  .email {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(32, 31, 31, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3em 0;
  }
}

.email__container-table {
  max-width: 500px;
}

.email__main-content {
  background-color: white;
  padding: 1em;
}

@media (min-width: 500px) {
  .email__main-content {
    border-radius: 10px;
    padding: 1em 2em;
  }
}

.email__header {
  display: block;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 1em;
}

.email__logo-container {
  width: 35px;
}

@media (min-width: 500px) {
  .email__logo-container {
    width: 50px;
  }
}

.email__logo {
  width: 35px;
  padding-right: .5em;
}

@media (min-width: 500px) {
  .email__logo {
    padding-right: 1em;
    width: 50px;
  }
}

.email__site-title {
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 500px) {
  .email__site-title {
    font-size: 1.5rem;
  }
}

.email__verif-code-text {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1em 0 1em;
}

@media (min-width: 500px) {
  .email__verif-code-text {
    font-size: 1.5rem;
  }
}

.email__code {
  background-color: #F9F9F9;
  border: 1px solid #aeaeae80;
  border-radius: 4px;
  padding: 1em 2em;
  display: inline-block;
  margin-bottom: 2em;
  font-size: 1.1rem;
  font-weight: 500;
}

.email__code-wrapper {
  text-align: center;
}

.email__description {
  color: #929292;
  padding-bottom: 2em;
}

.email__link-description {
  color: #929292;
  padding-bottom: .5em;
}

.email__link-description--more-pb {
  padding-bottom: 2.5em;
}

.email__link {
  color: #443BAD;
  font-weight: 500;
}

.email__header-footer {
  border-top: 1px solid #EAEAEA;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.email__follow-us-text {
  display: none;
}

@media (min-width: 500px) {
  .email__follow-us-text {
    display: table-cell;
    width: 100%;
    text-align: right;
    padding-right: 1em;
  }
}

.email__icon {
  padding-right: .3em;
}

.email__footer {
  color: #929292;
  text-align: center;
  padding: 1em;
  background-color: #f2f4f5;
}

@media (min-width: 500px) {
  .email__footer {
    padding: 2em 3em;
    background-color: transparent;
  }
}
