.footer {
  background-color: white;
  border-radius: 10px;
  padding: 1em 2em;
  -webkit-box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
          box-shadow: -19px 19px 45px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
