@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  --red-button: #DA2619;
  --black-button: #2D2D2D;
  --blue-color: #4752AD;
}

a {
  text-decoration: none;
}

.form {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  color: #2D2D2D;
  min-height: 100vh;
}

@media (min-width: 500px) {
  .form {
    padding: 3em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__form {
  max-width: 500px;
  padding: 3.5em 1em 2em 1em;
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: 100vh;
}

@media (min-width: 500px) {
  .form__form {
    padding: 3.5em 2em 3em 2em;
    border-radius: 5px;
    min-height: auto;
    min-width: 500px;
  }
}

.form__header {
  margin-bottom: .3em;
  font-weight: 700;
}

.form__description {
  color: #929292;
  margin-bottom: 2em;
}

@media (min-width: 500px) {
  .form__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__flexbox > div:first-child {
    margin-right: 1em;
  }
}

.form__flexbox--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__flexbox-item-full-width {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.form__label {
  margin-bottom: .4em;
  display: block;
  font-size: .95rem;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(174, 174, 174, 0.2);
  background: #F9F9F9;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 0 1em;
  font-size: .95rem;
  outline: none;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 1em;
  cursor: pointer;
}

.form__term-of-use-container {
  margin-bottom: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.form__already-user {
  text-align: center;
}

.form__input-container {
  margin-bottom: 1em;
  position: relative;
}

.form__input-container > input {
  margin-bottom: 0;
}

.form__remember-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.form__remember-me-container .form__term-of-use-container {
  margin: 0;
}

.blue-color {
  color: var(--blue-color);
}

.xmark-icon {
  display: block;
  width: 40%;
}

.xmark-container {
  width: 40px;
  height: 40px;
  position: absolute;
  top: .8em;
  right: .8em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid rgba(174, 174, 174, 0.2);
  background: #F9F9F9;
}

.eye-icon {
  width: 15px;
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.mail-box {
  padding: 1em 2em 2em;
  text-align: center;
}

.mail-box__image {
  display: inline-block;
  margin-bottom: 1em;
}

.mail-box__text {
  font-size: 1.2rem;
}

.payment {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #E3DEDE;
}

.payment__black-cta {
  color: white;
}

.payment__standard {
  background-color: #201F1F;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.5em;
}

.payment__standard-title {
  color: #DA2619;
  margin-bottom: .4em;
  font-weight: 500;
}

.payment__amount {
  margin-bottom: .4em;
  font-weight: 500;
}

.payment__description {
  margin-bottom: .4em;
}

.payment__header {
  font-weight: 600;
  margin-bottom: 1em;
}

.payment__total-payable {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment__total-payable-text {
  color: #929292;
  font-weight: 500;
}

.payment__total-amount {
  font-weight: 700;
}

.required {
  color: #E05045;
}

.input-wrapper {
  position: relative;
}

.input-wrapper__input {
  padding-right: 50%;
}

.input-wrapper__icons-wrapper {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper__icons-wrapper img {
  display: block;
  width: 25px;
}

.input-wrapper__icons-wrapper img:not(:last-child) {
  margin-right: .3em;
}

.input-wrapper__exclamation-mark-icon {
  cursor: pointer;
  width: 17px !important;
}

@improt '../utils/breakpoint' {}.privacy-policy {
  max-width: 700px;
  margin: 0 auto;
  padding: 2em 1em 1em;
}

@media (min-width: 500px) {
  .privacy-policy {
    padding: 4em 1em;
  }
}

.privacy-policy__title {
  margin-bottom: .8em;
  font-size: 2.5rem;
}

@media (min-width: 500px) {
  .privacy-policy__title {
    font-size: 3.5rem;
  }
}

.privacy-policy__sub-title {
  color: #2D2D2D;
  margin-bottom: .4em;
  font-size: 1.7rem;
}

@media (min-width: 500px) {
  .privacy-policy__sub-title {
    font-size: 2rem;
  }
}

.privacy-policy__para {
  color: #929292;
  line-height: 1.8;
  margin-bottom: 2em;
}

.privacy-policy__counter {
  color: #4E4E4E;
  font-weight: 600;
}

.button {
  background-color: var(--black-button);
  border: none;
  display: block;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.button--send-code {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 4px 4px 0;
}

.button--red {
  background-color: var(--red-button);
}

.button--not-full-width {
  width: auto;
  padding: .8em 1em;
}

.button--rounded {
  border-radius: 20px;
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 720px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header__logo {
  display: block;
  width: 35px;
}

.mobile-header__bars {
  width: 25px;
  cursor: pointer;
}

.menu-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  display: none;
}

.menu-overlay--visible {
  display: block;
}

@media (min-width: 720px) {
  .menu-overlay {
    display: none;
  }
}

.menu-overlay__content-wrapper {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em;
}

.menu-overlay__logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.2em;
}

.menu-overlay__links {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 1em;
  line-height: 1.5;
}

.menu-overlay__close-icon {
  position: absolute;
  right: 2em;
  top: .5em;
  width: 20px;
  z-index: 2;
  cursor: pointer;
}

.header {
  display: none;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 5%;
}

@media (min-width: 720px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__logo {
  display: block;
  width: 40px;
}

.header__links {
  color: #373F41;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.header__links > li:not(:last-child) {
  margin-right: 1em;
}
