.payment {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #E3DEDE;
}

.payment__black-cta {
  color: white;
}

.payment__standard {
  background-color: #201F1F;
  text-align: center;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1.5em;
}

.payment__standard-title {
  color: #DA2619;
  margin-bottom: .4em;
  font-weight: 500;
}

.payment__amount {
  margin-bottom: .4em;
  font-weight: 500;
}

.payment__description {
  margin-bottom: .4em;
}

.payment__header {
  font-weight: 600;
  margin-bottom: 1em;
}

.payment__total-payable {
  margin-bottom: 1em;
}

.payment__total-payable-text {
  color: #929292;
  font-weight: 500;
}

.payment__total-amount {
  font-weight: 700;
}

.required {
  color: #E05045;
}

.input-wrapper {
  position: relative;
}

.input-wrapper__input {
  padding-right: 50%;
}

.input-wrapper__icons-wrapper {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper__icons-wrapper img {
  display: block;
  width: 25px;
}

.input-wrapper__icons-wrapper img:not(:last-child) {
  margin-right: .3em;
}

.input-wrapper__exclamation-mark-icon {
  cursor: pointer;
  width: 17px !important;
}
