@use '../utils/breakpoint' as *

*
    padding: 0
    margin: 0
    box-sizing: border-box

:root
    @include breakpoint('asus')
        font-size: 20px

    @include breakpoint('4k')
        font-size: 40px

body
    font-family: 'Montserrat', sans-serif
    
a 
    text-decoration: none