@use './utils/mixins'
@use './utils/breakpoint' as *
@forward './base/typography'
@forward './base/global'
@forward './base/variables'
@forward './components/common/side-bar'
@forward './components/common/mobile-header'
@forward './components/common/mobile-fixed-bottom-nav'
@forward './components/common/mobile-side-bar-overlay'
@forward './components/common/drop-down'
@forward './components/common/icon'
@forward './components/common/carousel'
@forward './components/common/dashboard-header'
@forward './components/common/dashboard-button'
@forward './components/common/dashboard'
@forward './components/common/table'

.payment-method
    @include mixins.dashboard-container

    &__payment-content
        @include mixins.white-shadowed-box
        margin-bottom: 2em

    &__flex
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 1em

    &__input
        width: 100%
        border: 1px solid rgba(#AEAEAE, .2)
        background-color: #F9F9F9
        border-radius: 6px
        padding: 1em .5em
        margin-top: .6em
        outline: none
        font-size: .9em

        &:checked
            display: block

    &__card
        border-radius: 10px
        border: 1px solid #D2DAE6
        padding: 1em 1em
        display: flex
        flex-grow: 1 !important
        width: 100% !important
        align-items: flex-start
        margin-bottom: 1em

        &--active
            background-color: #F1F6FF

    &__flex
        display: flex
        justify-content: flex-start

    &__card-img
        margin-right: 1em

    &__fake-radio
        width: 24px
        aspect-ratio: 1
        border-radius: 50%
        border: 1px solid #A8A8A8
        position: relative
        display: block
        margin-right: 1em

        &::after
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-color: transparent
            width: calc(100% - 8px) !important
            aspect-ratio: 1
            border-radius: 50%

    &__radio
        display: none

    &__label input:checked ~ &__fake-radio
        border-color: #DA2619

        &::after
            background-color: #DA2619

    &__label
        cursor: pointer

        &--ml-auto
            margin-left: auto

    &__label--ml-auto input:checked ~ &__fake-radio-type-2
        background-color: #1877F2
        border-color: #1877F2

    &__fake-radio-type-2
        width: 27px
        display: block
        aspect-ratio: 1
        border-radius: 50%
        border: 1px solid #AEAEAE

    &__card-name
        margin-bottom: .2em

    &__expires
        margin-bottom: 1em

    &__set-default
        margin-right: .5em

    &__edit-button
        color: inherit
        font-weight: 500

    &__add-new
        color: inherit
        text-align: right
        font-weight: 500

    &__table
        display: none

        @include breakpoint('medium')
            display: block

    &__paid-status
        color: #22B573
        background-color: #EAFFF3
        text-align: center
        display: inline-block
        padding: .4em 2em
        border-radius: 20px

    &__users-container
        display: flex
        transform: translateX(calc(14px * 4))

        @include breakpoint('medium')
            transform: translateX(0)

        img
            border-radius: 50%
            display: block
            width: 40px

        img:nth-child(2)
            transform: translateX(calc(-14px * 1))

        img:nth-child(3)
            transform: translateX(calc(-14px * 2))

        img:nth-child(4)
            transform: translateX(calc(-14px * 3))

        img:nth-child(5)
            transform: translateX(calc(-14px * 4))

    &__download-icon
        color: #323232
        font-size: 1.3rem

    &__mobile-table-row
        @include mixins.white-shadowed-box
        overflow: hidden
        margin-bottom: 1em

        @include breakpoint('medium')
            display: none

    &__t
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1em

        &--grey-bg
            background-color: #F8F7F7
            padding: 1em .7em
            border-radius: 9px

        &--rlp
            padding: 0 .7em

    &__view-all-button
        @include breakpoint('medium')
            display: none

        display: block
        width: 100%
        background-color: var(--main-red)
        color: white
        border: none
        padding: 1em 0
        font-size: 1rem
        font-weight: 600
