@use './utils/mixins'
@use './utils/breakpoint' as *
@forward './base/typography'
@forward './base/global'
@forward './base/variables'
@forward './components/common/side-bar'
@forward './components/common/dashboard-header'
@forward './components/common/mobile-header'
@forward './components/common/mobile-fixed-bottom-nav'
@forward './components/common/mobile-side-bar-overlay'
@forward './components/common/drop-down'
@forward './components/common/icon'

.personal-data
    @include mixins.dashboard-container

    &__user-info
        @include mixins.white-shadowed-box
        margin-bottom: 1em
        display: flex

    &__user-info-col-2
        margin-right: 1em
        flex-grow: 1

    &__user-info-col-3
        flex-grow: 1

    &__image-wrapper
        display: inline-block
        position: relative
        margin-right: 2em

    &__image
        border-radius: 50%
        width: 150px

    &__plus-icon
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 35%)
        background-color: var(--main-black)
        color: white
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        aspect-ratio: 1
        font-size: .8rem
        cursor: pointer

    &__label
        display: block
        margin-bottom: .5em

    &__input
        display: block
        margin-bottom: 1em
        background-color: #F9F9F9
        border: 1px solid rgba(#AEAEAE, .2)
        padding: 1em 1em
        border-radius: 4px
        width: 100%
        outline: none

    &__button
        display: block
        width: 100%
        padding: .6em 0
        color: white
        background-color: var(--main-red)
        border: none
        border-radius: 4px
        font-size: 1rem
        cursor: pointer

        &--half
            width: 50%

    &__address
        @include mixins.white-shadowed-box

    &__headline
        margin-bottom: 1.3em

    &__flex
        display: flex
        margin-bottom: 1em

        > div
            flex-grow: 1

            &:not(:last-child)
                margin-right: 1em
