.header
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid red

    &__logo
        display: block
        width: 40px
    
    &__links
        color: #373F41
        list-style: none
        display: flex
        align-items: center
        text-transform: uppercase

        > li:not(:last-child)
            margin-right: 1em