@use './breakpoint' as *

@mixin white-shadowed-box
    background-color: white
    border-radius: 10px
    box-shadow: -19px 19px 45px rgba(#000, .1)
    padding: 1.5em 1em

@mixin content-wrapper
    padding-right: 1em
    padding-left: 1em
    
    @include breakpoint('small')
        width: 90%
        margin: 0 auto
    
@mixin flex-container
    display: flex
    justify-content: center
    flex-wrap: wrap

    @include breakpoint('laptop')
        align-items: center
        flex-wrap: nowrap

        