@use '../utils/mixins' as *
@forward '../base/typography'
@forward '../base/global'
@forward '../components/common/side-bar'
@forward '../components/dashboard/header'
@forward '../components/dashboard/card'
@forward '../components/dashboard/table'
@forward '../components/dashboard/icon'
@forward '../components/dashboard/button'
@forward '../components/dashboard/footer'
@forward '../components/dashboard/drop-down'

.dashboard
    color: #2D2D2D
    margin-left: 250px

    &__main-content
        flex-grow: 1
        background-color: #F9F8F8
        padding: 1.5em 2em 3em


    &__cards-wrapper
        display: flex
        margin-bottom: 2em

    &__table
        @include white-shadowed-box
        margin-bottom: 2em


    &__table-header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 2em

        > div
            display: flex

    &__table-summary-text
        margin-right: 2em
        
    &__chart-wrapper
        width: 50%
        @include white-shadowed-box

        &:first-child
            margin-right: 1em

    &__charts
        display: flex
        margin-bottom: 2em