@use '../utils/mixins'
@use '../utils/breakpoint' as *
@forward '../base/typography'
@forward '../base/global'
@forward '../base/colors'
@forward '../components/common/header'
@forward '../components/common/button'
@forward '../components/home/hero'
@forward '../components/home/form'
@forward '../components/home/check-mail'
@forward '../components/home/payment'
@forward '../components/home/headline'
@forward '../components/home/paragraph'
@forward '../components/home/box'
@forward '../components/home/price-plan-card'

.home
    &__content-wrapper
        @include mixins.content-wrapper

    &__bar-section
        background-color: #F9F8F8
        padding: 2em 0

    &__bar-section-content-wrapper
        display: flex
        align-items: center
        justify-content: center

        img
            width: 200px
            display: block

            &:not(:last-child)
                margin-right: 2em

    &__work
        @include mixins.section

    &__work-items
        display: flex
        justify-content: center

        > div:not(:last-child)
            margin-right: 3rem

            @include breakpoint('asus')
                margin-right: 4rem

    &__pricing-plan
        @include mixins.section
        background-color: #F9F8F8

    &__pricing-plan-cards
        display: flex
        justify-content: center
        align-items: center

        > div:not(:last-child)
            margin-right: 2em

