@import '../base/typography';
@import '../base/global';
@import '../components/dashboard/nav';
@import '../components/dashboard/header';
@import '../components/dashboard/card';
@import '../components/dashboard/table';
@import '../components/dashboard/icon';
@import '../components/dashboard/button';
@import '../components/dashboard/footer';

.dashboard
    display: flex
    color: #2D2D2D

    &__main-content
        flex-grow: 1
        background-color: #F9F8F8
        padding: 1.5em 2em


    &__cards-wrapper
        display: flex
        padding: 2em 0