@import '../utils/breakpoints'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*
    margin: 0
    padding: 0

body
    background-image: url('../images/hero.png')
    background-size: cover
    background-position: center
    background-attachment: fixed; 
  
.email
    min-height: 100vh
    backdrop-filter: blur(5px)
    background-color: rgba(#201F1F, .3)
    display: flex
    align-items: center
    justify-content: center

    &__container-table
        max-width: 500px

    &__main-content
        background-color: white
        border-radius: 10px
        padding: 1em 1.4em

    &__header
        display: block // to change!
        border-bottom: 1px solid #EAEAEA
    
    &__logo
        width: 35px

        @include breakpoint('small')
            width: 50px

    &__site-title
        font-weight: 600
        font-size: 1rem

        @include breakpoint('small')
            font-size: 1.5rem

    &__code
        background-color: #F9F9F9
        border: 1px solid #aeaeae80
        display: inline-table
        border-radius: 4px

    &__verif-code-text
        font-size: 1.2rem
        font-weight: 600

        @include breakpoint('small')
            font-size: 1.5rem

    &__follow-us-text
        display: none

        @include breakpoint('small')
            display: table-cell    
            width: 100%
            text-align: right
            padding-right: 1em

    &__icon
        padding-right: .3em

    &__footer
        background-color: transparent
        color: #929292
        text-align: center

    &__description
        color: #929292

    &__link-description
        color: #929292

    &__link
        color: #443BAD
        font-weight: 500
