@use '../../utils/breakpoint' as *

.brands
    background-color: #F9F8F8
    padding: .5em 1em

    @include breakpoint('small')
        padding: 2em 1em

    img
        display: block
        width: 100%
        object-fit: cover
