@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-image: url('../hero.png')
    background-size: cover
    background-position: center
    background-attachment: fixed;
   
.sign-up
    position: absolute
    top: 0
    width: 100%
    padding: 3em 0
    display: flex
    align-items: center
    justify-content: center
    backdrop-filter: blur(5px)
    background-color: rgba(#000, .2)
    color: #2D2D2D
    font-family: 'Montserrat'

    &__form
        width: 500px
        background-color: white
        padding: 3em 2em
        border-radius: 5px
        box-shadow: 0 0 10px 2px rgba(#000, .2)
        position: relative
    
    &__header
        margin-bottom: .3em
    
    &__description
        color: #929292
        margin-bottom: 2em
    
    &__flexbox
        display: flex

        > div:first-child
            margin-right: 1em

    &__flexbox-item-wrapper
        flex-basis: 100%
    
    &__label
        margin-bottom: .4em
        display: block
        
    &__input
        display: block
        width: 100%
        height: 40px
        border: 1px solid rgba(#AEAEAE, .2)
        background: #F9F9F9;
        border-radius: 6px
        margin-bottom: 1em
        padding: 0 1em

    &__checkbox
        width: 20px
        height: 20px
        margin-right: 1em
        cursor: pointer
    
    &__btn
        background: #2D2D2D
        border: none
        display: block
        color: white
        font-weight: 500
        margin-bottom: 1.2em
        cursor: pointer
        font-size: 1rem
        
        &--submit
            border-radius: 4px
            width: 100%
            padding: 1em 0

        &--send-code
            position: absolute
            top: 0
            right: 0
            height: 100%
            padding: 0 1.4em
            border-radius: 0 4px 4px 0

    &__term-of-use-container
        margin-bottom: 1.2em
        display: flex;
        justify-items: center

    &__already-user
        text-align: center

    &__input-container
        margin-bottom: 1em
        position: relative

        > input 
            margin-bottom: 0

.color
    color: #4752AD

.xmark-icon 
    width: 16px
    display: block
    position: absolute
    top: 1em
    right: 2em
    cursor: pointer

.eye-icon
    width: 15px
    position: absolute
    top: 50%
    right: 1em
    transform: translateY(-50%)
    cursor: pointer

a 
    text-decoration: none