.box
    flex-basis: 400px

    &__image-wrapper-container
        text-align: center

    &__image-wrapper
        display: inline-block
        position: relative
        margin-bottom: .9em

        &--no-mb
            margin-bottom: 0

    &__image
        display: block

    &__num
        display: block
        margin-left: auto

        &--2
            margin-left: 0
            transform: translate(-40px, -20px)

        &--3
            position: absolute
            right: 0
            transform: translate(50%, -20px)

    &__headline
        color: #2D2D2D
        margin-bottom: .5rem
        font-weight: 500
        font-size: 2.8rem

    &__description
        color: #2F2F2F
        font-size: 1.2rem

        &--mb
            margin-bottom: 1rem
