.box
    flex-basis: 400px

    &__image-wrapper
        display: inline-block
        position: relative
        border: 1px solid red

    &__image
        display: block
        margin-bottom: .9em

    &__num
        border: 1px solid blue
        display: block
        position: absolute
        top: 0
        right: 0
        transform: translate(0, -70%)