@use '../../utils/mixins'

.hero
    // background-image: url('../../images/home/background.png')
    background-repeat: no-repeat
    background-size: cover
    background-position-y: -50px

    &__content-wrapper
        @include mixins.content-wrapper        
        padding-top: 3.5em
        height: calc(100vh - 76px)
        position: relative
        text-align: center
        display: flex

        > div
            flex-basis: 50%

    &__header
        font-size: 3rem

        &--red
            color: var(--main-red)
        
        &--mb
            margin-bottom: .6em
    
    &__description
        margin-bottom: 2em

    &__girl-image-wrapper
        width: 50%
        margin: 0 auto
        aspect-ratio: 1
        position: relative
        margin-top: 100px

    &__girl-image
        display: block
        width: 100%
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
    
    &__video-player-button
        position: absolute
        bottom: 30px
        width: 150px
        right: -50px
        background-color: #000
        color: white
        text-transform: uppercase
        border-radius: 0 20px 20px 20px
        border: none
        padding: .9em .2em
        cursor: pointer

    &__play-icon
        font-size: .8rem
        margin-right: 1em

    &__right-circle-image,
    &__left-circle-image
        width: 80px


    &__right-circle-image
        position: absolute
        right: -70px
        top: 50%
        transform: translateY(-60%)
        z-index: -1

    &__left-circle-image
        position: absolute
        left: -70px
        top: 20px

    &__bottom-images-wrapper
        position: absolute
        display: flex
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        z-index: -1

        > div
            display: flex
            flex-direction: column
            justify-content: flex-end

        img
            display: block

    &__toro-image
        width: 400px
