@use '../../utils/mixins'

.work
    padding: 200px 0

    &__content-wrapper
        @include mixins.content-wrapper

    &__items
        display: flex
        margin-top: 200px
    
    &__item
        flex-basis: 400px

    &__item-image-wrapper
        display: inline-block
        position: relative
        border: 1px solid red

    &__item-image
        display: block
        margin-bottom: .9em

    &__item-num
        border: 1px solid blue
        display: block
        position: absolute
        top: 0
        right: 0
        transform: translate(0, -70%)