.card
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.5em 2em
    border-radius: 10px
    background-color: white
    box-shadow: -19px 19px 45px rgba(#000, .1)
    flex-grow: 1

    &__description
        margin-right: 1em

    &__title
        font-weight: 700
        margin-bottom: .5em

    &__date
        color: #929292

    
    &__price
        font-size: 2em
        font-weight: 500


    
    &:not(:last-child)
        margin-right: 1em
        